<div class="min-h-full w-full container mx-auto mt-8">
    <div>
        <h1 class="text-3xl text-center font-bold">Lista de productos</h1>
        <h3>Bienvenido: {{user.first_name}} {{user.last_name}}</h3>
        {{#if user}}
        <button><a href="http://localhost:8080/sessions/login">Logout</a></button>
        {{/if}}

        <div class="w-full grid grid-cols-1 lg:flex lg:flex-row gap-4 lg:gap-7 lg:gap-10 mx-auto justify-center items-center">
            {{#each products.payload}}
                <div class="w-full max-w-[320px] bg-gray-100 h-[400px] mx-auto">
                    <div class="flex justify-between mx-auto flex-col h-[400px] p-5">
                        <img src="{{this.thumbnail}}" alt="{{this.title}}" class="mx-auto w-full h-[250px] object-contain">
                        <hr>
                        <div class="flex flex-col gap-4">
                            <h5 class="text-lg">{{this.title}}</h5>
                            <h4 class="text-sm">${{this.price}}</h4>
                            <a href="/product/{{this._id}}" class="bg-sky-400 py-2 px-4 mx-auto text-white rounded-md mt-6">Ver detalle</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        {{#if products.pagination.active}}
            <nav>
                <ul>
                    <li>
                        <a href="{{products.pagination.prevLink}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each products.pagination.pagesLinks}}
                        <li><a class="page-link{{#if active}} active {{/if}}" href="{{link}}">{{page}}</a></li>
                    {{/each}}
                    <li>
                        <a href="{{products.pagination.nextLink}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        {{/if}}
    </div>
</div>