<div>
    <div>
        <div>
            <div>
                <img src="{{product.thumbnail}}" alt="{{product.title}}">
            </div>
            <div>
                <h1>{{product.title}}</h1>
                <div>
                    <p>{{product.description}}</p>
                    <p>Precio: ${{product.price}}</p>
                    <p>Stock: {{product.stock}}</p>
                </div>
                <div>
                    <a href="/products/{{this._id}}">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>