<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="flex flex-col items-center justify-center w-full md:grid md:grid-cols-2 md:container md:place-items-center mx-auto min-h-full mt-12">
        <form action="api/products" method="post">
            <h3 class="text-2xl mb-2 font-bold text-center">Agrega tu producto</h3>
            <div>
                <label for="title">{{title}}</label>
                <input class="input w-full max-w-[400px] my-2 rounded-lg" type="text" id="title" name="title" placeholder="Nombre del producto" required>
            </div>
            <div>
                <label for="price">{{price}}</label>
                <input class="input w-full max-w-[400px] my-2 rounded-lg" type="number" id="price" min=0 name="price" placeholder="Precio" required>
            </div>
                <div>
                <label for="description">{{description}}</label>
                <input class="w-full max-w-[400px] my-2 rounded-lg" type="text" id="description" name="description" placeholder="Descripcion" required>
            </div>
            <div>
                <label for="code">{{code}}</label>
                <input class="w-full max-w-[400px] my-2 rounded-lg" type="number" id="code" name="code" placeholder="Codigo" required>
            </div>
            <div>
                <label for="stock">{{stock}}</label>
                <input class="w-full max-w-[400px] my-2 rounded-lg" type="number" id="stock" name="stock" placeholder="Stock" required>
            </div>
            <div>
                <label for="category">{{category}}</label>
                <input class="w-full max-w-[400px] my-2 rounded-lg" type="text" id="category" name="category" placeholder="Categoria" required>
            </div>
            <div>
                <label for="thumbnail">{{thumbnail}}</label>
                <input class="w-full max-w-[400px] my-2 rounded-lg" type="text" id="thumbnail" name="thumbnail" placeholder="Imagen URL" required>
            </div>
            <input type="hidden" name="form">
            <button class="btn border py-2 px-4 bg-sky-400 rounded-md text-white my-2" id="submitButton" type="submit" value="Save product"> Agregar producto </button>
        </form>
    

    <div class="w-full">
        {{#each products}}
     <div id="list_products" class="flex justify-center lg:justify-start">
        <hr>
    <ul class="flex flex-col gap-1 my-3 ml-2 container">
        <li><span class="font-bold">Producto: </span>{{this.title}}</li>
        <li><span class="font-bold">Precio: </span>${{this.price}}</li>
        <li><span class="font-bold">Descripcion: </span>{{this.description}}</li>
        <li><span class="font-bold">Codigo: </span>{{this.code}}</li>
        <li><span class="font-bold">Stock: </span>{{this.stock}}</li>
    </ul>
</div>
    {{/each}}
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="./../public/js/realTimeProducts.js" type="application/javascript"></script>
</body>
</html>
